<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Todo List App</title>
</head>
<body>
    <h2 class="title">To-Do List</h2>
    <div class="task-container">
        <div class="msg-box">
            <% if (locals.flash && locals.flash.warning) {%>
                <span class="alert-warning"><%= flash.warning %></span>
            <% } %>
            <% if (locals.flash && locals.flash.error) {%>
                <span class="alert-error"><%= flash.error %></span>
            <% } %>
            <% if (locals.flash && locals.flash.success) {%>
                <span class="alert-success"><%= flash.success %></span>
            <% } %>
        </div>
        <ul class="task-list">
            <% tasks.forEach(task => { %>
                <li class="task-line">
                    <%= task %>
                </li>
            <% }) %>
        </ul>
        <form class="task-form" action="/add" method="post">
            <input type="text" name="task" class="task-input" placeholder="Add a new task" >
            <button type="submit" class="add-btn">Add</button>
        </form>
        <form class="task-form" action="/delete" method="post">
            <input type="text" name="task" class="task-input" placeholder="Enter a task" >
            <button type="submit" class="delete-btn">Delete</button>
        </form>
    </div>
</body>
</html>